# Misc. and Best Practice
**/*.log
**/*.out
**/*.swo
**/*.swp
**/*build*

# Terraform
**/*.auto.tfvars
**/*.auto.tfvars.json
**/*.tfplan
**/*.tfstate
**/*.tfstate.*
**/*_override.tf
**/*_override.tf.json
**/.infracost/
**/.terraform
**/.terraformrc
**/crash.*.log
**/crash.log
**/override.tf
**/override.tf.json
**/terraform.rc
