# Misc. and Best Practice
**.swp
**.swo
**.log
**.out
**build*

# Terraform
**.tfstate.*
**/*.auto.tfvars
**/*.auto.tfvars.json
**/*.tfstate
**/*_override.tf
**/*_override.tf.json
**/.infracost/
**/.terraform
**/.terraformrc
**/crash.*.log
**/crash.log
**/override.tf
**/override.tf.json
**/terraform.rc
